@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-size: cover;
    background-position: center;
    
}
.transparent-container{
    height: 75vh;
}
@media (max-width: 650px) {
  .transparent-container{
    height: 85vh;
}
.boton-oferta{
    height: 65px;
    min-width: 110px;
}
}
.boton-oferta{
    height: 45px;
    min-width:  125px;
}
.tabs-cuenta{
    height: 300px;
}

.glass {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link:hover {
    color: white;
}

.nav-tabs .nav-link.active {
    color: black;
    background-color: white;
}

.nav-tabs .nav-link.active:hover {
    color: black;
}



.flash-wrapper {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    z-index: 3000;
}

.flash-message {
    border-radius: 12px;
    transition: all .5s ease;
}

#reseñas {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

#reseñas.show {
    opacity: 1;
    max-height: 2000px;
}

button {
    outline: none;
}

button:focus {
    outline: none;
}
.tiktok-wrapper {
    background: black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 60%;
    height: 85%;
    object-fit: cover;
    touch-action: none;
}


#prevBtn {
    position: absolute;
    right: 20px;
    padding: 10px;
    top: 30%;
    font-size: 20px;
    border-radius: 20px;
}

#nextBtn {
    position: absolute;
    right: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    top: 50%;
}
#nextBtn:hover, #prevBtn:hover{
    background-color: #222322;
}

