@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.main {
    background-image: url('/storage/app/public/photo-1493256338651-d82f7acb2b38.avif');
    background-size: cover;     
    height: 80vh;         
}
.glass {
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    border-radius: 20px;
}