
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-size: cover;
    background-position: center;
}



.glass {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link:hover {
    color: white;
}

.nav-tabs .nav-link.active {
    color: black;
    background-color: white;
}

.nav-tabs .nav-link.active:hover {
    color: black;
}

#myTab {
    border-bottom: none;
}
.flash-wrapper{
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    z-index: 3000;
}

.flash-message{
    border-radius: 12px;
    transition: all .5s ease;
}
